x@charset "ISO-8859-1";
.container{
	font-family: 'Montserrat', sans-serif;
	color: #24292e;
}


.signup-form{
	padding: 20px 0px;
}
.signup-form .row,.article-info .row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
.required-field {
	color: #c32a12;

}

.maudo{
	color: #c32a12;
}

/*------*/
.title-box {
	background: #f27228;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.sub-title {
	font-size: 12px;
	color: #000;
}

body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
