@charset "ISO-8859-1";

.title {
	font-size: 15px;
	color: #2e373c;
	font-weight: 700;
	cursor: pointer;
}
.article {
	padding: 20px 8px;
}
.relevent-article{
	text-align:justify;
}


.detail-title {
	font-size: 20px;
	font-weight: bold;
}

.detail-summary{
	font-size:16px;
	font-weight:bold;
}
.pdf{
	text-align:center;
}

hr {
	margin: 0;
}

.click {
	text-align:center;
	padding-top:10px;
}


.title-box {
	background: #f27228;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.sub-title {
	font-size: 12px;
	color: #000;
}

.col-md-12>p {
	font-size: 16px
}

.up-content>h5 {
	font-size: 17px;
	margin-left: 30px;
}
/* menu reviewer css */
.title-reviewer {
	font-size: 15px;
	color: #2e373c;
	font-weight: 700;
	cursor: pointer;
}

.article-reviewer {
	padding: 20px 2px;
	margin-left: 20px;
}

hr {
	margin: 0;
}

/* đánh giá của người phản biện css */
ul {
	list-style-type: none;
}

.comments-container {
	width: 830px;
}

/* .comments-container h4 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}  */
/* 
.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}
 */

/* .comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
 */
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}
/* 
.comment-box .comment-name a {
	color: #283035;
}
.comment-box .comment-name a {
	color: #283035;
} */
.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	margin-left: 30px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}
}

/* modal thêm nội dung phản luận*/
#sendComment {
	float: right;
}

#btn-comment {
	float: right;
	padding-right: 20px;
}

.row {
	
}

#btn-send {
	padding-left: 300px;
}