@charset "ISO-8859-1";

.title {
	font-size: 15px;
	color: #2e373c;
	cursor: pointer;
	color: #24292e;
}

.title.active {
	font-weight: 700;
}

.article {
	padding: 20px 8px;
	text-align: left;
}

.article>h6 {
	font-size: 16px !important;
}

hr {
	margin: 0;
}

.review-title {
	font-weight: 700;
	color: #2e373c;
}

.col-md-12>p {
	font-size: 16px
}

.up-content>h5 {
	font-size: 17px;
	margin-left: 30px;
}
/* menu reviewer css */
.article-reviewer {
	padding: 20px 2px;
	margin-left: 20px;
}

hr {
	margin: 0;
}

ul {
	list-style-type: none;
}

/* comment css */
ul {
	list-style-type: none;
}

.comments-container {
	width: 830px;
}

.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	margin-left: 30px;
}

/* modal */
.xuatbanchuyensan {
	width: 100%;
	text-align: center;
}

#modaal-xuatbanchuyensan {
	margin-top: 10%;
}

#checkbox {
	min-height: 21px;
	vertical-align: middle;
	margin-left: 15px;
}

#main-chiefeditorbyjournals {
	padding-bottom: 50px;
}

#main-container {
	padding-bottom: 50px;
}

#main-xuatbanchuyensan {
	margin-left: 10%;
	margin-right: 10%;
}

.hr-leftsidebar {
	margin-left: 15px;
}

/*hidden reponsive menu*/
@media screen and (max-width: 992px) {
	#menu-chiefeditorbyjournals {
		visibility: hidden !important;
		clear: both;
		display: none;
	}
	#modaal-xuatbanchuyensan {
		margin-top: 18%;
	}
}

@media ( min-width : 992px) {
	.col-md-4 {
		width: 45% !important;
	}
}