@charset "ISO-8859-1";

.title{
	font-size: 15px;
	color: #2e373c;
	cursor: pointer;
	color: #24292e;
}
.title.active{
	font-weight: 700;
}

.article {
	padding: 20px 8px;
	text-align: center;
}

hr {
	margin: 0;
}

.review-title {
	font-weight: 700;
	color: #2e373c;
}

.col-md-12>p {
	font-size: 16px
}

.up-content>h5 {
	font-size: 17px;
	margin-left: 30px;
}
/* menu reviewer css */


.article-reviewer {
	padding: 20px 2px;
	margin-left: 20px;
}

hr {
	margin: 0;
}



/** =====================
 * Responsive
 ========================*/

@media only screen and (max-width: 300px) {
  .comments-chief {
    width: 100%;
  }
#main-xuatbanchuyensan{
	width: 100%;
}

.xuatbanchuyensan{
    float: right;
    margin-right: 30%;
}
    

}


	}

/* modal */
#sendComment {
	float: right;
}



#btn-comment {
	float: right;
	padding-right: 20px;
}

.row{
	
}
#btn-send{
	padding-left: 300px;
}


#c1{
	min-height: 21px;
	vertical-align: middle;
	margin-left: 15px;
}
.xuatbanchuyensan{
	margin-left: 300px;
	margin-top: 100px;
}

#main-chiefeditorbyjournals{
	padding-bottom: 50px;
}

#main-container{
	padding-bottom: 50px;
}
