@charset "ISO-8859-1";

.title {
	font-size: 15px;
	color: #2e373c;
	cursor: pointer;
	color: #24292e;
}

.title.active {
	font-weight: 700;
}

.article {
	padding: 20px 8px;
	text-align: left;
}

.article>h6 {
	font-size: 16px !important;
}

hr {
	margin: 0;
}

.review-title {
	font-weight: 700;
	color: #2e373c;
}

.col-md-12>p {
	font-size: 16px
}

.up-content>h5 {
	font-size: 17px;
	margin-left: 30px;
}

.article-reviewer {
	padding: 20px 2px;
	margin-left: 20px;
}

hr {
	margin: 0;
}

/* comment css */
ul {
	list-style-type: none;
}

#href-themphanbien {
	float: right !important;
	margin-right: 5% !important;
}

.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	margin-left: 30px;
}

/* modal */
#sendComment {
	float: right;
}

#btn-comment {
	float: right;
	margin-right: 30px;
}

.btn {
	border: none !important;
}

#main-guitongbientap {
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
}

#href-guitongbientap {
	width: 100%;
	text-align: center;
}

.hr-leftsidebar {
	margin-left: 15px;
}

/*hidden reponsive menu*/
@media screen and (max-width: 992px) {
	#menu-phanbienvien {
		visibility: hidden !important;
		clear: both;
		display: none;
	}
}