@charset "ISO-8859-1"; 

 @charset "ISO-8859-1";

.title {
	font-size: 15px;
	color: #2e373c;
	cursor: pointer;
	color: #24292e;
}

.title.active {
	font-weight: 700;
}

.article {
	padding: 20px 8px;
	text-align: center;
}

hr {
	margin: 0;
}

.col-md-7 {
	padding-left: 300px;
}

.col-md-5 {
	padding-left: 100px;
}

.article {
	padding: 20px 8px;
	text-align: center;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover,
	.nav-tabs.nav-justified>.active>a:focus {
	background-color: #ffa042;
}

.p_review {
	margin: 15px 20px 0px 50px;
}

.review-title {
	font-weight: 1000;
	color: #2e373c;
}
.col-md-12>p {
	font-size: 16px
}

.up-content>h5 {
	font-size: 17px;
	margin: 10px 5px 20px 30px;
}

/* đánh giá của người phản biện css */
ul {
	list-style-type: none;
}

.comments-container {
	width: 700px;
	padding-left: 20px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}
}

/* modal thêm nội dung phản luận*/
#btn-comment {
	float: right;
	padding-right: 20px;
}
.group-button {
	display: flex;
	align-items: center;
	margin-left: 30%;
} 

}

.fjs-btn.green a, .fjs-btn.green button {
	background-color: #277927; 
}

.fjs-btn.green a, .fjs-btn.green button {
	background-color: #277927;
}