@charset "ISO-8859-1";@charset "ISO-8859-1";

.title {
	font-size: 15px;
	color: #2e373c;
	font-weight: 700;
	cursor: pointer;
}

.col-md-7{
	padding-left: 300px;
}
.col-md-5{
	padding-left: 100px;
}
.article {
	padding: 20px 8px;
	text-align: center;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus{
	background-color: #ffa042;
hr {
	margin: 0;
}
.p_review{
	margin: 15px 20px 0px 50px;
}
.review-title {
	font-weight: 1000;
	color: #2e373c;
}

.col-md-12>p {
	font-size: 16px
}

.up-content>h5 {
	font-size: 17px;
	margin: 10px 5px 20px 30px;
}
/* menu reviewer css */
.title-reviewer {
	font-size: 15px;
	color: #2e373c;
	font-weight: 700;
	cursor: pointer;
}

.article-reviewer {
	padding: 20px 2px;
	margin-left: 20px;
}

hr {
	margin: 0;
}

/* đánh giá của người phản biện css */
ul {
	list-style-type: none;
}

.comments-container {
	width: 700px;
	padding-left:20px;
}

/* .comments-container h4 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}  */
/* 
.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}
 */

/* .comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
 */
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}
/* 
.comment-box .comment-name a {
	color: #283035;
}
.comment-box .comment-name a {
	color: #283035;
} */
.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	margin-left: 30px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}
}

/* modal thêm nội dung phản luận*/
#sendComment {
	float: right;
}



#btn-comment {
	float: right;
	padding-right: 20px;
}

.row{
	
}
#btn-save{
	padding-left: 50%;
	margin-top: 50px;
}





