@charset "UTF-8";
.single-course .course-item .up-content h4{
	margin-left: 30px !important;
	font-weight: 700;
	color:#5f686c; 
	font-size : 30px !important;
	margin-bottom: 40px !important;
}
.nav-tabs>li.active>a{
/* 	border-radius: 6px; */
/* 	border-top: 1px solid #ffa042 !important;
	border-right: 1px solid #ffa042 !important; */
}
.nav-tabs>li.active>a:hover{
	background-color: #ffa042;
}
a{
	color:#5f686c !important;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus{
	background-color: #ffa042;
}
.tab-pane{
	margin-left:40px;
}
.tab-content{
	margin-top:15px;
}
.numbercount{
	font-weight: bold;
	color:#ffa042;
	font-size:20px;
	margin-right: 8px;
}
.rs{
	font-size:7em !important;
	color:#3f454e;
}
.canvas-hd{
	margin-top:20px ;
 	text-align: center;
}
canvas{
	margin: 0 auto;
	width: 60% !important;
	height: 60% !important;
}
.button-tab-admin{
	color:#ffffff;
	cursor: pointer;
	padding: 12px 45px;
/* 	border: 2px solid #ffa042; */
	background-color: #ffa042
}
.border-around{
	border: 1px solid #3f454e;
	border-radius: 6px !important;
	padding: 20px 5px;
}
.border-left-ad{
	border-left: 2px solid #ffa042;
}
.big-text{
	font-size: 19px;
	padding: 8px 15px;
	color:#3f454e;
	
}
.nav-tabs .nav-item{
	background-color: #cdcdcd;
}
.pad{
	margin-top: 40px;
}
.float-left{
	float: left;
}
.float-margin{
	float: left;
	margin-top: 20px;
}
.white-color{
	background-color: #ffffff;
}
.white-text{
	color: #ffffff !important;
}