@charset "UTF-8";
.single-course .course-item .up-content h4{
	margin-left: 30px !important;
	font-weight: 700;
	color:#5f686c; 
	font-size : 30px !important;
	margin-bottom: 40px !important;
}
.nav-tabs>li.active>a{
	border-radius: 6px;
/* 	border-top: 1px solid #ffa042 !important;
	border-right: 1px solid #ffa042 !important; */
}
.nav-tabs>li.active>a:hover{
	background-color: #ffa042;
}
a{
	color:#5f686c !important;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus{
	background-color: #ffa042;
}
.tab-pane{
	margin-left:40px;
}
.tab-content{
	margin-top:15px;
}
.numbercount{
	font-weight: bold;
	color:#ffa042;
	font-size:20px;
	margin-right: 8px;
}
.rs{
	font-size:7em !important;
	color:#3f454e;
}
.canvas-hd{
	margin-top:20px ;
 	text-align: center;
}
canvas{
	margin: 0 auto;
	width: 60% !important;
	height: 60% !important;
}