.dataTables_wrapper input {
	min-height: 23px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}
.article-content{
	text-align: justify;
}