/* ductm quanlybaiviet css */

.dataTables_wrapper input {
	min-height: 23px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}

.article-content {
	text-align: justify;
}

.title-box {
	background: #f27228;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.margin-20 {
	margin-bottom: 20px;
}

.col-md-3.right {
    right: 55px;
}


#tablepheduyet tbody tr td:nth-child(2) {
	font-weight: bold !important;
}

.aprroval{
	text-align: end;
}

/* ductm end */
