
@charset "ISO-8859-1";

.title {
	font-size: 15px;
	color: #2e373c;
	font-weight: 700;
	cursor: pointer;
=======
/* ductm quanlybaiviet css */

.dataTables_wrapper input {
	min-height: 23px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}

.article-content {
	text-align: justify;
}

.title-box {
	background: #f27228;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.margin-20 {
	margin-bottom: 20px;
}

a.btn.btn-primary.width {
    width: 115px;
}

.col-md-3.right {
    right: 55px;
}

.margin-10 {
    margin-top: 10px;
}

a#approve {
    padding: 15px 0px;
}

#tablepheduyet tbody tr td:nth-child(2) {
	font-weight: bold !important;
}

.aprroval{
	text-align: end;
}


/* đánh giá của người phản biện css */

/* comment css */

ul {
	list-style-type: none;
}

/* .comments-container {
	width: 830px;
} */


.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	margin-left: 30px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}
}

#sendComment {
	float: right;
}



#btn-comment {
	float: right;
	padding-right: 20px;
}

.row{
	
}
#btn-send{
	padding-left: 300px;
}



.dataTables_wrapper input {
	min-height: 23px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.prev, .next, .text {
		font-size: 11px
	}
}

.article-content {
	text-align: justify;
}

#tablepheduyet tbody tr td:nth-child(2) {
	font-weight: bold !important;
}

.aprroval{
	text-align: end;
}


/* ductm end */

